@mixin media-sm {
  @media screen and(max-width: 570px) {
    @content;
  }
}
@mixin media-md {
  @media screen and(max-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and(max-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and(max-width: 1600px) {
    @content;
  }
}
$color: #6b6b6b;
$leftColor: #bbbbbb;

$mainColor: #49148a;
$secondColor: #18bff3;
$thirdColor: #42cfb0;

$textColor: #bbb;
