@import '../../styles/config';
.home-container {
  display: grid;
  grid-template: 80px auto 70px / 220px auto 220px;
  height: 100vh;
  background-color: #eaeaea;
  .nav-menu {
    grid-row: span 3;
    border-right: 1px solid grey;
    background: purple;
    color: white;
    // padding: 10px;
    .nav-sub-container {
      margin: 10px 0;
      padding: 10px;
      color: $leftColor;
      .title {
        position: relative;
        display: inline-block;
        width: 100%;
        letter-spacing: 3px;
        .adjust-title-icon {
          position: absolute;
          right: 10px;
        }
      }
      .person-status {
        display: block;
        position: relative;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px 25px 0 0;
        cursor: pointer;
        &.active::after {
          background-color: greenyellow;
        }
        &::after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          background-color: grey;
          right: 10px;
        }
      }
    }
    .top-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .app-info {
        height: 120px;
        // background: linear-gradient(to top, purple, purple, rgb(1, 247, 214));
        display: grid;
        width: 100%;
        justify-content: center;
        align-items: center;
        .app-name {
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 8px;
          font-weight: 600;
          -webkit-box-reflect: below -11px linear-gradient(transparent, rgba(0, 0, 0, 0.42));
          position: relative;
          font-size: 1.2rem;
          span {
            animation: animate 2s ease-in-out infinite;
            animation-delay: calc(0.1s * var(--i));
            position: relative;
            // transform: translateY(-10px);
            display: inline-block;
          }
          @keyframes animate {
            0% {
              transform: translateY(0px);
            }
            20% {
              transform: translateY(-20px);
            }
            40%,
            100% {
              transform: translateY(0px);
            }
          }
        }
        & > img {
          width: 150px;
        }
      }
      .user-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 10px 10px;
        width: 100%;
        // justify-content: center;
        .user-avatar {
          width: 30px;
        }
        .dropdown-user {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          position: relative;
          .user-name {
            font-size: 1rem;
            cursor: pointer;
          }
          .dropdown-content {
            list-style: none;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            line-height: 1.9;
            position: absolute;
            top: 35px;
            background: #ffffffe0;
            color: black;
            width: 120px;
            li {
              padding: 1px 10px;
              cursor: pointer;
              transition: 1s;
              &:hover {
                background: rgb(99, 10, 99);
                color: white;
              }
            }
            &.active {
              max-height: 100px;
              z-index: 2;
            }
          }
        }
      }
    }
  }
  .about {
    grid-row: span 3;
    // border-left: 1px solid red;
    .about-container {
      margin: 10px;
      height: calc(100vh - 20px);
      background-color: white;
      border-radius: 4px;
      .about__title {
        border-bottom: 1px solid grey;
        width: 100%;
        display: inline-block;
        padding: 5px;
        text-align: center;
        font-weight: 600;
      }
      .about-detail,
      .about-top-poster,
      .about-created {
        margin: 10px;
        .title {
          cursor: pointer;
          .adjust-icon {
            margin-left: 10px;
            :last-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .header {
    background-color: white;
    display: grid;
    margin: 10px;
    border-radius: 4px;
    .header-container {
      display: grid;
      grid-template: auto auto / 50% 50%;
      align-items: center;
      padding: 10px;
      .header-info {
        & span:first-child {
          font-weight: 600;
          font-size: 1.3rem;
        }
        display: flex;
        flex-direction: column;
      }
      .header-search {
        text-align: right;
        position: relative;
        input {
          //   min-width: 250px;
          height: 30px;
          padding: 8px;
          border: 1px solid purple;
          border-radius: 4px;
        }
        .search-icon {
          position: absolute;
          right: 12px;
          font-size: 16px;
          font-weight: normal;
          top: 50%;
          transform: translateY(-50%);
          color: purple;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    .footer-container {
      display: flex;
      height: calc(100% - 20px);
      margin: 10px;
      padding: 6px;
      border-radius: 4px;
      background-color: white;

      .footer-tools {
        width: 150px;
        font-size: 1.8rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        .footer-icon {
          margin: 0 10px;
          cursor: pointer;
        }
      }
      .message-input {
        width: calc(100% - 150px);
        height: 100%;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: 1px solid purple;
      }
    }
  }
  .content {
    margin: 10px;
    background: white;
    padding: 8px;
    border-radius: 4px;
    overflow-y: auto;
    .content-container {
      display: flex;
      flex-direction: column;
      .message-container {
        .message {
          text-align: left;
          border-radius: 10px;
          padding: 8px 20px 8px 8px;
          background-color: #eaeaea;
          margin-bottom: 10px;
          font-weight: 500;
          display: inline-block;
          .message__logo {
            width: 30px;
            margin-right: 10px;
            float: left;
          }
          .message_content {
            position: relative;
            top: 0px;
            display: flex;
            flex-direction: column;
            .message-content__owner {
              font-weight: 600;
              margin-right: 5px;
              color: #333333;
            }
            .message-content__time {
              font-size: 0.7rem;
            }
          }
        }
        &.my-message {
          text-align: right;
          .message {
            padding: 8px 8px 8px 20px;
            background-color: rgb(0, 132, 255);
            color: white;
            .message_content {
              position: relative;
              top: 0;
            }
          }
        }
      }
    }
  }
}
