@import '../../styles/config';
.home-container {
  display: grid;
  grid-template: 65px auto 65px / 220px auto;
  height: 100vh;
  background-color: #eaeaea;
  .nav-menu {
    grid-row: span 3;
    border-right: 1px solid grey;
    background: $mainColor;
    color: $textColor;
    position: relative;
    // padding: 10px;
    .nav-detail-content {
      max-height: calc(100% - 200px);
      overflow: auto;
      position: absolute;
      width: 100%;

      // &::-webkit-scrollbar-track {
      //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      //   background-color: #f5f5f5;
      // }

      &::-webkit-scrollbar {
        display: none;
        // display: initial;
        width: 8px;
        background-color: #f5f5f5;
        border-radius: 4px;
        transition: 0.5s;
      }

      &:hover::-webkit-scrollbar {
        display: initial;
        width: 8px;
        background-color: #f5f5f5;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #b9b9b9;
        border-radius: 4px;
        padding: 4px;
        border: 1px solid white;
      }

      .nav-sub-container {
        margin: 10px 0;
        padding: 10px;
        color: $leftColor;
        .title {
          position: relative;
          display: inline-block;
          width: 100%;
          font-size: 1.2rem;
          color: #42cfb0;
          .adjust-title-icon {
            position: absolute;
            right: 10px;
          }
          .add-channel {
            cursor: pointer;
          }
        }
        .channel-item,
        .recent-item,
        .person-status {
          display: flex;
          position: relative;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 15px 0 0 0;
          cursor: pointer;
          transition: 1s;
          img {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid white;
            margin-right: 5px;
            z-index: 2;
            background: #49148a;
          }
          .title-object {
            z-index: 2;
          }
          &:hover {
            color: #49148a;
            &::before {
              content: '';
              background: linear-gradient(45deg, #18bff3, #42cfb0, #42cfb0);
              width: 100%;
              height: 100%;
              z-index: 1;
              position: absolute;
              border-radius: 20px;
              opacity: 1;
            }
          }
          &:before {
            content: '';
            background-color: #18bff3;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            opacity: 0;
            z-index: 1;
            position: absolute;
            border-radius: 20px;
            transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
          }
        }
        .person-status {
          &.active::after {
            background-color: greenyellow;
          }
          &::after {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            background-color: grey;
            right: 10px;
            z-index: 2;
          }
        }
      }
    }

    .top-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 200px;
      .app-info {
        height: 140px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        .app-name {
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 8px;
          font-weight: 600;
          -webkit-box-reflect: below -11px linear-gradient(transparent, rgba(0, 0, 0, 0.42));
          position: relative;
          font-size: 1.5rem;
          span {
            color: white;
            animation: animate 2s ease-in-out infinite;
            animation-delay: calc(0.1s * var(--i));
            position: relative;
            // transform: translateY(-10px);
            display: inline-block;
            font-weight: 700;
            // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
            //   0 0 42px #ffffff, 0 0 82px #ffffff, 0 0 92px #18bff3,
            //   0 0 102px #18bff3, 0 0 151px #18bff3;
          }
          @keyframes animate {
            0% {
              transform: translateY(0px);
            }
            20% {
              transform: translateY(-20px);
            }
            40%,
            100% {
              transform: translateY(0px);
            }
          }
        }
        & > img {
          height: 95px;
        }
      }
      .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 10px 10px;
        width: 100%;
        // justify-content: center;
        .user-avatar {
          width: 30px;
          border-radius: 50%;
          border: 2px solid white;
        }
        .dropdown-user {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          position: relative;
          .user-name {
            font-size: 1rem;
            cursor: pointer;
            .user-name__caret {
              margin-left: 10px;
            }
          }
          .dropdown-content {
            list-style: none;
            max-height: 0px;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            line-height: 1.9;
            position: absolute;
            top: 26px;
            background: white;
            color: #6b6b6b;
            width: 180px;
            border-radius: 10px;
            border-top-left-radius: 0px;
            z-index: 3;
            li {
              padding: 5px 10px;
              cursor: pointer;
              transition: 1s;
              &:hover {
                background: white;
                color: #49148a;
              }
              &:last-child {
                border-top: 1px solid #cbc8c8;
              }
            }
            &.active {
              max-height: 900px;
              border: 1px solid grey;
              box-shadow: 7px 5px 9px 0px #8b8b8b;
            }
            .adjust-drd-icon {
              font-size: 1.4rem;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .about {
    grid-row: span 3;
    // border-left: 1px solid red;
    .about-container {
      margin: 10px;
      height: calc(100vh - 20px);
      background-color: white;
      border-radius: 4px;
      .about__title {
        border-bottom: 1px solid grey;
        width: 100%;
        display: flex;
        text-align: center;
        font-weight: 600;
        height: 40px;
        align-items: center;
        justify-content: center;
      }
      .about-detail,
      .about-top-poster,
      .about-created {
        margin: 10px;
        .title {
          cursor: pointer;
          .adjust-icon {
            margin-left: 10px;
            :last-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .header {
    background-color: white;
    display: flex;
    margin: 10px 10px 0;
    border-radius: 4px;
    .header-container {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
      & > div {
        width: 50%;
      }
      .header-info {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        & span:first-child {
          font-weight: 600;
        }
        .info-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .info__text {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
          }
          .target-user-avatar {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            border: 2px solid #9e9e9e;
          }
        }
      }
      .header-search {
        text-align: right;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        input {
          height: 35px;
          padding: 10px;
          border-radius: 30px;
          outline: none;
          border: 1px solid #49148a;
          box-sizing: border-box;
          width: 0px;
          transition: all 0.5s;
          border-color: white;
        }
        &.active {
          input {
            width: 250px;
            border-color: #49148a;
          }
          .search-container {
            width: 250px;
          }
        }
        .search-icon {
          position: absolute;
          right: 12px;
          font-size: 1.3rem;
          font-weight: normal;
          top: 50%;
          transform: translateY(-50%);
          color: #49148a;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    margin: 0 10px 10px;
    .footer-container {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 6px;
      border-radius: 4px;
      background-color: white;

      .footer-tools {
        width: 150px;
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        &.right {
          width: 110px;
        }
        .footer-icon {
          margin: 0 10px;
          cursor: pointer;
          &.send {
            transform: rotateY(-30deg);
          }
        }
      }
      .message-input {
        width: calc(100% - 260px);
        height: 35px;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        border: 1px solid #49148a;
        box-sizing: border-box;
      }
    }
  }
  .content {
    margin: 10px;
    background: white;
    padding: 8px;
    border-radius: 4px;
    overflow-y: auto;
    position: relative;
    .waiting-content {
      height: 80%;
      transform: scaleX(-1);
      right: 0px;
      position: absolute;
      bottom: 0;
    }
    .content-container {
      display: flex;
      flex-direction: column;
      .message-container {
        .message {
          text-align: left;
          border-radius: 20px;
          padding: 8px 20px 8px 8px;
          background-color: #eaeaea;
          margin-bottom: 10px;
          font-weight: 500;
          display: inline-block;
          .message__logo {
            width: 30px;
            margin-right: 10px;
            float: left;
            border-radius: 50%;
            border: 2px solid white;
          }
          .message_content {
            position: relative;
            top: 0px;
            display: flex;
            flex-direction: column;
            .message-content__owner {
              font-weight: 600;
              margin-right: 5px;
              color: #333333;
            }
            .message-content__time {
              font-size: 0.7rem;
            }
          }
        }
        &.my-message {
          text-align: right;
          .message {
            padding: 8px 8px 8px 20px;
            background-color: $secondColor;
            color: white;
            .message_content {
              position: relative;
              top: 0;
            }
          }
        }
      }
    }
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
